<button (click)="toggleMenu()"
  class="lg:hidden fixed top-3 right-4 z-[160] size-11 bg-slate-900 border border-slate-800 rounded-2xl flex items-center justify-center text-slate-50 shadow-2xl">
  <span class="material-symbols-outlined">{{ isMenuOpen ? 'close' : 'menu' }}</span>
</button>

<aside [class.translate-x-0]="isMenuOpen" [class.-translate-x-full]="!isMenuOpen" class="fixed inset-0 z-[150] w-full h-full bg-slate-950 flex flex-col transition-transform duration-300 ease-in-out
         lg:static lg:translate-x-0 lg:w-64 lg:bg-slate-900 lg:border-r lg:border-slate-800">

  <div class="p-6">
    <div class="flex items-center gap-3 mb-10 mt-16 lg:mt-0">
      <div class="size-10 bg-primary rounded-xl flex items-center justify-center text-white shadow-lg">
        <span class="material-symbols-outlined">sports_handball</span>
      </div>
      <div>
        <p class="text-lg font-bold leading-none text-slate-50">Sistema FJH</p>
        <p *ngIf="isAdmin()" class="text-[10px] uppercase tracking-widest text-slate-400 font-semibold mt-1">
          Administrador</p>
        <p *ngIf="!isAdmin()" class="text-[10px] uppercase tracking-widest text-slate-400 font-semibold mt-1">
          Club</p>
      </div>
    </div>

    <nav class="space-y-1">
      <a *ngIf="!isAdmin()" (click)="closeMenu()" routerLink="/dashboard" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}" class="nav-item">
        <span class="material-symbols-outlined">sports_handball</span>
        <span class="font-medium">Jugadores</span>
      </a>

      <a *ngIf="isAdmin()" (click)="closeMenu()" routerLink="/clubes" routerLinkActive="active-link" class="nav-item">
        <span class="material-symbols-outlined">apartment</span>
        <span class="font-medium">Clubes</span>
      </a>
      <a (click)="closeMenu()" routerLink="/torneos" routerLinkActive="active-link" class="nav-item">
        <span class="material-symbols-outlined">
          trophy
        </span>
        <span class="font-medium">Torneos</span>
      </a>
      <a *ngIf="isAdmin()" (click)="closeMenu()" routerLink="/support" routerLinkActive="active-link" class="nav-item">
        <span class="material-symbols-outlined">support</span>
        <span class="font-medium">Soporte</span>
      </a>
      <a *ngIf="!isAdmin()" (click)="closeMenu()" routerLink="/support-club" routerLinkActive="active-link"
        class="nav-item">
        <span class="material-symbols-outlined">support_agent</span>
        <span class="font-medium">Centro de Soporte</span>
      </a>
    </nav>
  </div>

  <div class="mt-auto p-6">
    <button (click)="onLogout()"
      class="cursor-pointer w-full flex items-center gap-3 px-4 py-3 rounded-xl text-red-500 hover:bg-red-900/10 transition-colors">
      <span class="material-symbols-outlined">logout</span>
      <span class="font-medium">Cerrar Sesión</span>
    </button>
  </div>
</aside>
